<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consolas</title>
</head>

<body>
    <h1>Lista de consolas</h1>

    <a href="/consoles/crear">
        <button style="margin-bottom:1rem;">Crear nueva consola</button>
    </a>


    <div class="listaConsola">
        <% consolas.forEach(consola=>{ %>
            <div class="consola">
                <img class="imagenConsola" src="<%= consola.imagen %>" alt="">
                <h2 class="tituloConsola">
                    <%= consola.nombre %>
                </h2>
                <h3 class="valoracionesConsola">
                    <%= consola.valoracion%>
                </h3>
                <span><a href="/consoles/<%=consola.id %>">Ver</a></span>
                <span><a href="/consoles/editConsola/<%=consola.id %>">Editar</a></span>
                <form action="/consoles/<%= consola.id %>?_method=DELETE" method="POST"
                    onsubmit="return confirm('¿Seguro que quieres borrar esta consola?');" style="margin-top:1rem">
                    <button type="submit">Eliminar</button>
                </form>


            </div>
            <% }) %>
    </div>

</body>

</html>